
.Day {
  cursor: pointer;
  background-color: silver;
  color: white;
  padding: .5em 0;
  flex-grow: 1;
  flex: 1 1 0;
  border:1px solid #FFFFFF11;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Day.Today {
  padding: .4em 0;
  border: .1em solid white;
}

.Day:hover{
  border-color: white;
}