
.Calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid #FFFFFF99;
  border-radius: 5px;
}

.CalendarTitle {
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: .5em;
}

.Week {
  display: flex;
  flex-direction: row;
}

.Week:hover {}

.DayHeader {
  cursor: pointer;
  background-color: gray;
  color: white;
  padding: .5em;
  flex-grow: 1;
  box-sizing: border-box;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
