.Controls {
  padding: .5em;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  background-color: #ffffffcc;
  box-shadow: 0px 0px 3px black;
  box-sizing: border-box;
}

.Button {
  font-size: 2em;
  padding: 0 .25em;
  margin: 0 .5em;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid silver;
  color: #333;
}

.Button:hover {
  text-shadow: 0px 0px 5px gray;
}

.Label {
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 2em;
  height: 100%;
}

@media (max-width:480px) {
  .Button {
    flex-grow: 1;
    margin: 0;
  }

  .Label {
    flex-grow: 10;
  }
}