.Container {}

.Calendars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:  3.5em .2em 0 .2em;
}

.CalendarContainer {
  padding: .4em;
  flex-grow: 1;
  min-width: 33%;
  box-sizing: border-box;
}

@media (max-width:1024px) {
  .CalendarContainer{
    min-width: 33%;
  }
}

.BackgroundDarkener{
  background-color: black;
  position: fixed;
  height:100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  opacity: .4;
}

.Foreground {
  z-index: 1;
}

.Footer {
  color: white;
  padding:.5em 0 1em 0;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 15px black;
}

.Footer a {
  color: #00ccff;
  text-decoration: none;
}

.Footer a:hover {
  color: #65e0ff;
}